body{
    margin: 0px;
}
div.header{
    background-color: #e7e7e7;
    padding: 15px;
    height:100%


}
.logo{
    width: 20%;
}
div.container{
    text-align: center;
    max-width: 900px;
    background-color: #474747;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-family: sans-serif;
    height:auto;



}
div.form .site-form label{
    display:block;
    text-align: left;
    align-items: left;
    margin: 20px 20px -15px;
}
div.form .site-form input, .site-form select{
    display:block;
    text-align: left;
    align-items: left;
    margin: 20px 20px 35px;
}
div.container h1{
    font-size: 2em;

}
button.apply{
    background-color: #0d4a0d;
    padding: 20px 40px;
    color:white;
    font-size: 1.0em;
    border-style: none;
    width: 200px;
    cursor: pointer;


}
button.login{
    background-color: #1c256d;
    padding: 20px 40px;
    color:white;
    font-size: 1.0em;
    border-style: none;
    width: 200px;
    cursor: pointer;
}
button.apply:hover{
    background-color: #0d4a0d;
    padding: 20px 40px;
    color:white;
    font-size: 1.0em;
    border-style: none;
    width: 200px;
    cursor: pointer;
    border: 2px solid grey;
    margin: -2px auto;

}
button.login:hover{
    background-color: #1c256d;
    padding: 20px 40px;
    color:white;
    font-size: 1.0em;
    border-style: none;
    width: 200px;
    cursor: pointer;
    border: 2px solid grey;
    margin: -2px auto;
}